<div id="allExpensePage">
<h1 class="headerTitle">This month savings</h1>
<%= link_to 'New Income', new_income_path,class:'btn btn-primary btn-xs' %>
<div class="row">

 <% if @in_exp_data.nil? || @in_exp_data.empty? %>
  <p>No data to show</p>
  <% else %>
<table class="table">
  <thead class="top-header">
    <tr>
      <th colspan="3">Incomes</th>
      <th colspan="3">Expenses</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Income Type</th>
      <th>Description</th>
      <th> Action</th>
    </tr>
  </thead>
 
  <tbody>
   <% @in_exp_data.each do | data | %>
                            <tr>
                                <td><%= data.size %></td>
                                <td></td>
                                <td>
                                </td>
                            </tr>
                        <% end %>
        
         </tbody>
  
</table>
<% end %>
<br>
</div>
</div>
